.react-datepicker {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main)!important;
    box-shadow: var(--box-shadow);
    animation: drop var(--transition-duration) forwards;
    padding: 12px!important;
    border-radius: var(--border-radius-lg)!important;
}
.react-datepicker__month {
    margin: 0!important;
    padding: 0!important;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-top-left-radius: var(--border-radius)!important;
    border-top-right-radius: var(--border-radius)!important;
}
.react-datepicker-popper {
    z-index: 9999!important;
}
.react-datepicker__navigation-icon::before {
    border-color: var(--text-dark)!important;
    height: 6px!important;
    width: 6px!important;
}
.react-datepicker .react-datepicker__day-names .react-datepicker__day-name {
    font-size: 10px!important;
    font-weight: 500!important;
    color: var(--text-secondary)!important;
    font-family: var(--font-family)!important;
}
.react-datepicker__header {
    background-color: var(--color-main)!important;
    color: var(--text-light)!important;
    font-family: var(--font-family)!important;
}
.react-datepicker__children-container {
    margin: 0;
    padding: 4px;
    border-bottom-left-radius: var(--border-radius)!important;
    border-bottom-right-radius: var(--border-radius)!important;
}
.dropdown-menu .react-datepicker {
    box-shadow: none!important;
}
.dropdown-mobile-container .react-datepicker {
    padding-left: 0!important;
    padding-right: 0!important;
}
.dropdown-menu:has(.react-datepicker) {
    padding: 0!important;
}
.dropdown-mobile-container:has(.react-datepicker) {
    padding: 8px 0!important;
}
.react-datepicker,
.react-datepicker__header {
    border-color: transparent!important;
}
.react-datepicker__header {
    padding: 0!important;
}
.react-datepicker__day, 
.react-datepicker__time-name {
    color: var(--text-dark)!important;
    font-family: var(--font-family)!important;
}
.react-datepicker__current-month {
    font-weight: 400!important;
    font-size: 16px!important;
    opacity: 1!important;
}
.react-datepicker__day-name {
    /* opacity: 0.5!important; */
}
.react-datepicker__day--outside-month {
    opacity: 0.15!important;
}
.react-datepicker__day.react-datepicker__day--range-end:hover,
.react-datepicker__day.react-datepicker__day--today:hover,
.react-datepicker:has(.react-datepicker__day--in-range ):hover  .react-datepicker__week .react-datepicker__day--selected:hover , .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: rgb(var(--color-general-secondary-bg-hover))!important;
}
.react-datepicker__day:hover {
    /* border-radius: 50%!important; */
    color: rgb(var(--color-general-brand-text))!important;
    background-color: rgb(var(--color-general-secondary-bg-hover))!important;
    border-radius: 50%;
    font-weight: 500;
}
.react-datepicker__day--disabled,
.react-datepicker__day--disabled:hover {
    background-color: var(--color-tertiary)!important;
    color: var(--text-dark)!important;
    opacity: 0.2!important;
}
.modal-open .react-datepicker__portal {
    background-color: transparent!important;
}
.modal-open .react-datepicker__portal .react-datepicker__navigation {
    top: 8px!important;
    margin: 0 8px!important;
}
.react-datepicker__portal {
    background-color: var(--color-overlay)!important;
    width: calc(100% - 24px)!important;
    padding: 0 12px!important;
    height: 100%!important;
    backdrop-filter: blur(5px);
}
.react-datepicker__portal .react-datepicker {
    box-shadow: var(--box-shadow)!important;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    padding: 4px 0 16px 0;
    color: var(--text-dark);
}
.react-datepicker__navigation {
    top: 0px!important; 
    margin: 16px 12px!important;
    opacity: 0.5!important;
    transition-duration: var(--transition-duration)!important;
}
.react-datepicker:has(.date-select-custom-header) .react-datepicker__navigation {
    top: -2px!important; 
    margin: 0!important;
}
.react-datepicker__navigation:hover {
    opacity: 1!important;
}
.react-datepicker__children-container {
    width: auto!important;
    display: flex!important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-bottom-color: var(--color-main)!important;
}
.react-datepicker__day--selected,
.react-datepicker__day.react-datepicker__day--selected {
    border: 1px solid rgb(var(--color-general-secondary-border))!important;
    border-top-left-radius: 50%!important;
    border-bottom-left-radius: 50%!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right-color: transparent!important;
    color: rgb(var(--color-general-brand-text))!important;
    font-weight: 500;
    background-color: rgb(var(--color-general-secondary-bg))!important;
}
.react-datepicker__day--keyboard-selected[aria-selected="false"] {
    border-color: transparent!important;
    color: var(--text-dark)!important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day.react-datepicker__day--range-end {
    border: 1px solid rgb(var(--color-general-secondary-border))!important;
    border-top-right-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left-color: transparent!important;
    color: rgb(var(--color-general-brand-text))!important;
    font-weight: 500;
    background-color: rgb(var(--color-general-secondary-bg))!important;
}
.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: var(--color-main)!important;
    border: 1px solid rgb(var(--color-general-secondary-border))!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0!important;
    color: rgb(var(--color-general-brand-text))!important;
    font-weight: 500;
    background-color: rgb(var(--color-general-secondary-bg))!important;
}
.react-datepicker__day-name {
    font-weight: 500!important;
    color: var(--text-dark);
}
.react-datepicker__header .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    /* width: 2rem!important;
    line-height: 2rem!important; */
    margin: 0!important;
    padding: 6px 7px!important;
    font-family: var(--font-family)!important;
}
.inline-calendar.react-datepicker {
    box-shadow: none!important;
    font-size: 12px!important;
}
.inline-calendar .react-datepicker__header {
    background-color: unset!important;
}

.react-datepicker__navigation-icon::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    top: 6px;
    width: 9px;
    border-radius: 1px;
}
.react-datepicker__day {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 14px!important;

}
.react-datepicker__day.react-datepicker__day--today {
    color: var(--text-dark)!important;
    border-radius: 50%!important;
}
.react-datepicker__day--in-range.react-datepicker__day.react-datepicker__day--today.react-datepicker__day--range-end {
    border-top-right-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
}
    .react-datepicker__day--in-range.react-datepicker__day.react-datepicker__day--today {
    border-radius: 0%!important;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    border-bottom-color: var(--color-border)!important;
}

.react-datepicker:has(.react-datepicker__day--in-range) .react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range {
    border-radius: 50%!important;
    border-right: 1px solid rgb(var(--color-general-secondary-border))!important;
    border: 1px solid rgb(var(--color-general-secondary-border))!important;
}
/* .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
    border-top-color: var(--color-border)!important;
} */
.react-datepicker__view-calendar-icon input {
    margin-left: 46px;
    padding: 11px 6px;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 15px 16px;
    transition-duration: var(--transition-duration);
    opacity: 0.5;
}
.calendar-container:has(.react-datepicker) .btn-outline {
    border-color: rgb(var(--color-general-secondary-border));
}
.react-datepicker__input-container .react-datepicker__calendar-icon:hover {
    opacity: 1;
}
.react-datepicker__calendar-icon {
    width: 16px;
    cursor: pointer;
    height: 16px;
}
.react-datepicker__triangle {
    display: none!important;
}
.react-datepicker__today-button {
    color: var(--text-dark)!important;
    border: none;
    font-weight: 400;
    padding: 0.75rem 1rem!important;
    transition-duration: var(--transition-duration)!important;
    color: var(--text-secondary)!important;
    background-color: var(--color-secondary)!important;
}
.react-datepicker__today-button:hover {
    opacity: 1!important;
    color: rgb(var(--color-general-brand-text))!important;
    font-weight: 500;
}
.react-datepicker:not(:has(.react-datepicker__day--in-selecting-range)) .react-datepicker__day.react-datepicker__day--selected {
    border-radius: 50%!important;
    border: 1px solid rgb(var(--color-general-secondary-border))!important;
}
.react-datepicker:has(.react-datepicker__day--in-range ) .react-datepicker__week .react-datepicker__day--selected, .react-datepicker__day.react-datepicker__day--selected  {
    border-right: transparent!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

/* .react-datepicker:not(.react-datepicker__day--in-range ) .react-datepicker__day--selected,
.react-datepicker__day.react-datepicker__day--selected {
    border-right: 1px solid rgb(var(--color-general-secondary-border))!important;
    border-radius: 50%!important;
} */

@media (max-width: 800px) {
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        width: 2rem!important;
        line-height: 2rem!important;
    }
}