.banner {
    padding: 0.75rem;
    background-color: var(--color-main);
    color: var(--text-dark);
    display: flex;
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    overflow: hidden;
}
.banner-icon {
    /* width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px; */
}
.banner-icon {
    margin: 6px 12px 6px 0;
}
.banner-icon svg {
    width: 100%;
    height: 100%;
}
.banner-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
}
.banner-content {
    font-size: 12px;
    font-weight: 400;
}
.banner-danger {
    background-color: rgb(var(--color-general-danger-bg));
    border-color: rgb(var(--color-general-danger-border));
    color: var(--text-dark);
    fill: rgb(var(--color-general-danger-text));
}
.banner-success {
    background-color: rgb(var(--color-general-success-bg));
    border-color: rgb(var(--color-general-success-border));
    color: var(--text-dark);
    fill: rgb(var(--color-general-success-text));
}
.banner-primary {
    background-color: rgb(var(--color-general-primary-bg));
    border-color: rgb(var(--color-general-primary-border));
    color: var(--text-dark);
    fill: rgb(var(--color-general-primary-text));
}
.banner-primary svg {
    fill: var(--color-primary);
}
.banner-warning {
    background-color: rgb(var(--color-general-warning-bg));
    border-color: rgb(var(--color-general-warning-border));
    color: var(--text-dark);
    fill: rgb(var(--color-general-warning-text));
}
.banner-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-hover);
    color: var(--text-dark);
}

.banner-dismissed {
    visibility: hidden;
    opacity: 0;
}