.checkbox-wrapper {
    cursor: pointer;
    display: flex;
    gap: 12px;
    position: relative;
    font-size: 12px;
}
.checkbox-wrapper.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.checkbox-wrapper.disabled:active .checkbox,
.checkbox-wrapper.disabled:hover .checkbox {
    border-color: var(--color-border)!important;
    box-shadow: none!important;
}
.checkbox-wrapper.checkbox-read-only:hover .checkbox {
    border-color: var(--color-border)!important;
    box-shadow: none!important;
}
.checkbox-wrapper.checkbox-read-only {
    cursor: default;
}
.checkbox-wrapper .checkbox {
    border: 1px solid var(--color-border);
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 6px;
    position: relative;
    /* outline: 1px solid transparent; */
    transition-duration: var(--transition-duration);
}
.checkbox-rounded .checkbox {
    border-radius: 50%;
}
.checkbox-wrapper:hover .checkbox {
    border-color: var(--text-dark);
    background-color: transparent;
}
.checkbox-wrapper:hover .checkbox {
    /* outline: 1px solid var(--color-primary-bg-hover); */
    background-color: transparent;
}
.checkbox-wrapper:active .checkbox {
    border-color: var(--color-border)!important;
    box-shadow: var(--text-dark) 0px 0px 0px 2px, var(--text-light) 0px 0px 0px 4px;
}
.checkbox-wrapper .checkbox-checked {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    left: -2px;
}
.checkbox-wrapper .checkbox-checked svg {
    width: 70%;
    height: 70%;
    fill: var(--text-light);
}
.checkbox-label {
    line-height: 1.43;
    color: var(--text-dark);
    letter-spacing: 0.2px;
    transition-duration: var(--transition-duration);
}
.checkbox-wrapper-checked:hover .checkbox,
.checkbox-wrapper-checked .checkbox {
    border-color: var(--text-dark);
    background-color: var(--text-dark);
}
.checkbox-success.checkbox-wrapper-checked.checkbox-wrapper.checkbox-read-only:hover .checkbox,
.checkbox-success.checkbox-wrapper-checked:hover .checkbox,
.checkbox-success.checkbox-wrapper-checked .checkbox {
    border-color: var(--color-success)!important;
    background-color: var(--color-success);
}
.checkbox-success.checkbox-wrapper:active .checkbox {
    border-color: var(--color-success-bg-hover)!important;
    box-shadow: var(--color-border) 0px 0px 0px 2px, var(--color-success) 0px 0px 0px 4px;
}
.checkbox-success.checkbox-wrapper:hover .checkbox {
    border-color: var(--color-success);
}
.checkbox-brand.checkbox-wrapper-checked.checkbox-wrapper.checkbox-read-only:hover .checkbox,
.checkbox-brand.checkbox-wrapper-checked:hover .checkbox,
.checkbox-brand.checkbox-wrapper-checked .checkbox {
    border-color: var(--color-brand)!important;
    background-color: var(--color-brand);
}
.checkbox-brand.checkbox-wrapper:active .checkbox {
    border-color: var(--color-brand-bg-hover)!important;
    box-shadow: var(--color-border) 0px 0px 0px 2px, var(--color-brand) 0px 0px 0px 4px;
}
.checkbox-brand.checkbox-wrapper:hover .checkbox {
    border-color: var(--color-brand);
}
.checkbox-warning.checkbox-wrapper-checked:hover .checkbox,
.checkbox-warning.checkbox-wrapper-checked .checkbox {
    border-color: var(--color-warning);
    background-color: var(--color-warning);
}
.checkbox-warning.checkbox-wrapper:active .checkbox {
    border-color: rgb(var(--color-general-warning-bg-hover))!important;
    box-shadow: var(--color-border) 0px 0px 0px 2px, var(--color-warning) 0px 0px 0px 4px;
}
.checkbox-warning.checkbox-wrapper:hover .checkbox {
    border-color: var(--color-warning);
}
.checkbox-danger.checkbox-wrapper-checked:hover .checkbox,
.checkbox-danger.checkbox-wrapper-checked .checkbox {
    border-color: var(--color-danger);
    background-color: var(--color-danger);
}
.checkbox-danger.checkbox-wrapper:active .checkbox {
    border-color: rgb(var(--color-general-danger-bg-hover))!important;
    box-shadow: var(--color-border) 0px 0px 0px 2px, var(--color-danger) 0px 0px 0px 4px;
}
.checkbox-wrapper:hover .checkbox-label {
    /* color: var(--text-light); */
}
.checkbox-danger.checkbox-wrapper:hover .checkbox {
    border-color: var(--color-danger);
}
.checkbox-wrapper .spinner {
    width: 14px;
    height: 14px;
}
.checkbox-warning:hover .checkbox-label,
.checkbox-warning .checkbox-label {
    color: var(--color-warning);
}
.checkbox-success:hover .checkbox-label,
.checkbox-success .checkbox-label {
    color: var(--color-success);
}
.checkbox-danger:hover .checkbox-label,
.checkbox-danger .checkbox-label {
    color: var(--color-danger);
}
.checkbox-danger .checkbox {
    border-color: var(--color-danger);
}
.checkbox-warning .checkbox {
    border-color: var(--color-warning);
}
.checkbox-success .checkbox {
    border-color: var(--color-success);
}

.checkbox-wrapper.checkbox-sm .checkbox {
    width: 12px;
    height: 12px;
    min-height: 12px;
    min-width: 12px;
}
.checkbox-wrapper.checkbox-sm .checkbox-checked {
    width: 16px;
    height: 16px;
}
.checkbox-wrapper.checkbox-lg .checkbox {
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
}
.checkbox-wrapper.checkbox-lg .checkbox-checked {
    width: 28px;
    height: 28px;
}