.chip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    min-width: 28px;
    border-radius: 12px;
    color: var(--text-color);
    cursor: pointer;
    background-color: rgb(var(--color-general-secondary-bg));
    z-index: 1;
    font-weight: 500;
    text-transform: capitalize;
    user-select: none;
}
.chip::before {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    background-color: rgb(var(--color-general-secondary-bg-hover));
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1),transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
    z-index: -1;
    transition-duration: var(--transition-duration);
}
.chip:hover::before {
    opacity: 1;
    transform: scale(1);
}
.chip-icon {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: var(--transition-duration);
    border-radius: 50%;
    border: 1px solid;
    outline: 2px solid transparent;
}
.chip-label {
    font-size: 13px;
    margin: 0 8px;
}
.chip-label svg {
    display: block;
    width: 100%;
    height: 100%;
}
.chip-icon:active {
    opacity: 1;
}
.chip.active,
.chip.chip-primary {
    color: rgb(var(--color-general-primary-text));
    background-color: rgb(var(--color-general-primary-bg));
}
.chip.chip-secondary {
    color: var(--text-dark);
    background-color: rgb(var(--color-general-secondary-bg));
}
.chip.chip-danger {
    color: rgb(var(--color-general-danger-text));
    background-color: rgb(var(--color-general-danger-bg));
}
.chip.chip-warning {
    color: rgb(var(--color-general-warning-text));
    background-color: rgb(var(--color-general-warning-bg));
}
.chip.chip-success {
    color: rgb(var(--color-general-success-text));
    background-color: rgb(var(--color-general-success-bg));
}

.chip.active,
.chip.chip-primary svg {
    fill: rgb(var(--color-general-primary-text));
}
.chip.chip-secondary svg {
    fill: var(--text-dark);
}
.chip.chip-danger svg {
    fill: rgb(var(--color-general-danger-text));
}
.chip.chip-warning svg {
    fill: rgb(var(--color-general-warning-text));
}
.chip.chip-success svg {
    fill: rgb(var(--color-general-success-text));
}

.chip.chip-primary .chip-icon:hover {
    outline-color: rgb(var(--color-general-primary-text));
}
.chip.chip-secondary .chip-icon:hover {
    outline-color: var(--text-dark);
}
.chip.chip-danger .chip-icon:hover {
    outline-color: rgb(var(--color-general-danger-text));
}
.chip.chip-warning .chip-icon:hover {
    outline-color: rgb(var(--color-general-warning-text));
}
.chip.chip-success .chip-icon:hover {
    outline-color: rgb(var(--color-general-success-text));
}
.chip .chip-icon:active {
    transform: scale(0.9);
}

.chip.chip-primary::before {
    background-color: var(--color-general-primary-bg-hover, rgba(26,26,26,0.1));
}
.chip.chip-secondary::before {
    background-color: var(--color-general-secondary-hover, rgba(26,26,26,0.1));
}
.chip.chip-danger::before {
    background-color: var(--color-general-danger-bg-hover, rgba(26,26,26,0.1));
}
.chip.chip-warning::before {
    background-color: var(--color-general-warning-bg-hover, rgba(26,26,26,0.1));
}
.chip.chip-success::before {
    background-color: var(--color-general-success-bg-hover, rgba(26,26,26,0.1));
}

.chip-disabled {
    opacity: 0.5;
}