.filter-dropdown {
    position: relative;
    border-radius: var(--border-radius-lg);
    border: 1px dashed var(--color-border);
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 6px;
    font-weight: 500;
    transition-duration: var(--transition-duration);
    background-color: var(--color-main);
    min-width: max-content;
}
.filter-applied .filter-dropdown-label {
    color: var(--color-brand)!important;
}
.filter-applied.filter-dropdown {
    border-style: solid;
}
.filter-dropdown:hover {
    border-color: rgb(var(--color-general-secondary-border));
}
.dropdown-open .btn,
.dropdown-open .filter-dropdown {
    border-color: rgb(var(--color-general-secondary-border))!important;
}
.filter-dropdown-icon-applied:hover svg {
    fill: var(--color-danger);
}
.filter-dropdown-label {
    /* color: var(--text-secondary); */
    font-size: 12px;
    font-weight: 500;
}
.filter-dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-dropdown-icon svg {
    width: 12px;
    height: 12px;
    fill: var(--text-secondary);
}
.filter-dropdown-applied {
    color: var(--text-secondary);
    font-size: 10px!important;
    font-weight: 500;
}