.input-default-container {
    position: relative;
    display: flex;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-xs);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
    outline: 3px solid transparent;
}

.input-default-container:focus-within,
.input-default-container:hover {
    background-color: var(--color-tertiary);
}

.input-default-container .input-default-icon {
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.input-default-container .input-default-icon.input-default-icon-right {
    padding-left: 0;
    padding-right: 12px;
}
.input-default-container .input-default-icon svg {
    width: 1em;
    height: 1em;
}

.input-default-container:hover input,
.input-default-container:focus-within .input-default-icon,
.input-default-container:focus-within input {
    filter: unset;
    opacity: 1;
    border-color: var(--color-general-default-border);
}
.input-default-container:focus-within svg {
    fill: rgb(var(--color-general-primary-text));
}

.input-default-display-placeholder input::placeholder,
.input-default-container:focus-within input::placeholder {
    color: var(--text-secondary)!important;
}
.input-default-wrapper {
    position: relative;
    flex-grow: 1;
}
.input-default-container {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-xs);
    font-size: 14px;
    position: relative;
    line-height: 1;
    min-height: 44px;
    background-color: transparent;
    color: var(--text-dark);
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.input-default-container select {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    background-color: transparent;
    color: var(--text-dark);
    padding: 12px;
    font-size: 14px;
    line-height: 1;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.input-default-container select option {
    color: var(--text-dark);
    background-color: var(--color-tertiary);
}
.input-default-container input {
    outline: none;
    border: none;
    font-family: var(--font-family);
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
    color: var(--text-dark);
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-default-container input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: var(--color-scheme);
}
.input-default-container:focus-within label {
    color: rgb(var(--color-general-primary-text))!important;
}
.input-default-container:focus-within {
    border-color: rgb(var(--color-general-primary-text));
    outline: 3px solid rgb(var(--color-general-primary-border));
}

.input-default-container.input-default-success {
    border-color: rgb(var(--color-general-success-text));
}

.input-default-container.input-default-danger {
    border-color: rgb(var(--color-general-danger-text));
}
.input-default-container.input-default-danger svg {
    fill: rgb(var(--color-general-danger-text));
}
.input-default-container.input-default-danger label.filled {
    color: rgb(var(--color-general-danger-text));
}

.input-default-container.input-default-success svg {
    fill: rgb(var(--color-general-success-text));
}
.input-default-container.input-default-success label.filled {
    color: rgb(var(--color-general-success-text));
}
.input-default-container.input-default-success label {
    color: var(--text-dark);
    fill: var(--text-dark);
}

.input-default-container.input-default-warning svg {
    fill: rgb(var(--color-general-warning-text));
}
.input-default-container.input-default-warning label.filled {
    color: rgb(var(--color-general-warning-text));
}
.input-default-container.input-default-warning label {
    color: var(--text-dark);
    fill: var(--text-dark);
}
.input-default-container.input-default-warning {
    border-color: rgb(var(--color-general-warning-text));
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-dark) !important;
}

.input-default-container:focus-within {
    border-color: rgb(var(--color-general-primary-text));
    outline: 3px solid rgb(var(--color-general-primary-border));
}
.input-default-container:focus-within svg {
    fill: rgb(var(--color-general-primary-text));
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}