.input-row {
    display: flex;
    transition-duration: var(--transition-duration);
    position: relative;
}
/* .input-row-input-inner[type="time"]:before {
    content: "--:-- --";
    position: absolute;
    color: var(--text-secondary);
}
.input-row-input-inner[type="time"]:focus:before, .input-row-input-inner[type="time"]:valid:before {
    content: "";
} */

.input-row:has(.ql-editor:focus-visible) .border {
    box-shadow: 0px 0px 0 1px var(--text-dark)!important;
    border-color: var(--text-dark)!important;
    background-color: var(--color-main)!important;
}
.ql-editor.ql-blank::before {
    color: var(--text-secondary)!important;
}
.input-row input[type="time"] {
    -webkit-appearance: none;
}
.input-row-error,
.input-row-warning,
.input-row-success,
.input-row-focused {
    position: relative;
}
.input-row.input-col {
    flex-direction: column;
}
.input-row.input-col .input-row-label {
    min-width: 0;
    width: unset;
}
.input-row .input-row-input:hover {
    /* background-color: rgb(var(--color-general-secondary-bg)); */
}
.input-row-search-opened .input-row-input,
.input-row-focused .input-row-input {
    background-color: var(--color-main)!important;
    border-color: var(--text-dark)!important;
    box-shadow: 0px 0px 0 1px var(--text-dark)!important;
}
.input-row-label {
    display: flex;
    position: relative;
    font-weight: 500;
    justify-content: space-between;
    width: 225px;
    min-width: 225px;
    font-size: 14px;
    padding: 8px 30px 8px 0;
    transition-duration: var(--transition-duration);
}
.input-row-readonly .input-row-label {
    /* background-color: var(--color-main); */
}
.input-row-readonly .input-row-switch,
.input-row-readonly .input-row-input-inner,
.input-row-readonly {
    cursor: not-allowed!important;
}
.input-row-input {
    position: relative;
    /* width: calc(100% - 225px); */
    display: flex;
    height: fit-content;
    flex-grow: 1;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}
.input-row-input input {
    position: relative;
    background-color: transparent;
    color: var(--text-dark);
    border: none;
    padding: 8px 12px;
    flex-grow: 1;
    max-height: 37px;
    height: 21px;
    font-size: 14px;
    font-family: var(--font-family);
    transition-duration: var(--transition-duration);
}
.input-row-input input::-webkit-calendar-picker-indicator {
    display: none;
}
/* .input-row .input-row-input {
    content: '';
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
    outline: var(--border);
    border-color: transparent;
} */
.input-row-error .input-row-input:hover,
.input-row-error .input-row-input {
    border-color: rgb(var(--color-general-danger-text));
    box-shadow: 0px 0px 0 1px rgb(var(--color-general-danger-text));
    background-color: rgb(var(--color-general-danger-bg));
}
.input-row-warning .input-row-input:hover,
.input-row-warning .input-row-input {
    border-color: rgb(var(--color-general-warning-text));
    box-shadow: 0px 0px 0 1px rgb(var(--color-general-warning-text));
    background-color: rgb(var(--color-general-warning-bg));
}
.input-row-success .input-row-input:hover,
.input-row-success .input-row-input {
    border-color: rgb(var(--color-general-success-text));
    box-shadow: 0px 0px 0 1px rgb(var(--color-general-success-text));
    background-color: rgb(var(--color-general-success-bg));
}
.input-row-input input:focus {
    outline: none;
}
.input-row-disabled .input-row-switch,
.input-row-disabled .input-row-input-inner {
    /* opacity: 0.8; */
    cursor: not-allowed;
    background-size: 6px 6px;
    background-image: repeating-linear-gradient(45deg, transparent 0, transparent 2px, var(--color-main) 0, var(--color-main) 50%);
    border-radius: var(--border-radius);
}
.input-row-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    padding: 0 16px;
    transition-duration: var(--transition-duration);
    cursor: pointer;
}
.input-row-arrow svg {
    width: 100%;
    height: 100%;
    fill: var(--text-secondary);
    transition-duration: var(--transition-duration);
}
.input-row-searchable.input-row-search-opened .input-row-arrow svg {
    transform: rotate(180deg);
}
.input-row-dropdown .input-row-arrow svg {
    transform: none!important;
}
.input-row-search {
    margin-top: 8px;
    will-change: top, left;
    z-index: 600;
    width: 100%;
    max-height: 40vh;
    min-height: 35px;
    margin: 0;
    border: 1px solid var(--color-border);
    background-color: var(--color-main);
    overflow: auto;
    box-shadow: none;
    min-width: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: var(--border-radius);
    animation: drop var(--transition-duration) forwards;
    /* border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); */
}
.input-row-search-up {
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius); */
}
@keyframes drop {
    0% {
        transform: translate(0px, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 5px);
        opacity: 1;
    }
}

.input-row-search-opened .input-row-search {
    opacity: 1;
    visibility: visible;
    box-shadow: var(--box-shadow);
}
.input-row-search-item {
    padding: 8px 12px;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.5;
    cursor: pointer;
    color: var(--text-secondary);
    transition-duration: var(--transition-duration);
}
.input-row-dropdown-item:hover,
.input-row-search-item:hover {
    color: var(--text-dark);
    background-color: var(--color-secondary);
}
.input-row-dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.5;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    display: flex;
    align-items: center;
}
.input-row-dropdown-item:hover svg {
    fill: var(--text-dark);
}
.input-row-dropdown-item svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: var(--text-dark);
    transition-duration: var(--transition-duration);
}
.input-row-dropdown-item-checked {
    color: var(--text-dark);
}
.input-row-dropdown-item-checked svg {
    fill: var(--text-dark);
}
.input-row-select {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.input-row-switch,
.input-row-select-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: var(--transition-duration);
}
.input-row-switch:hover,
.input-row-select-item:hover {
    background-color: var(--color-secondary);
}
.input-row-select-item-checked {
    color: var(--text-dark);
}
.input-row-select-item svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: var(--text-dark);
    transition-duration: var(--transition-duration);
}
.input-row-select-item-checked svg {
    fill: var(--text-dark);
    margin: 0;
    /* width: 14px!important;
    height: 14px!important; */
}
.input-row-dropdown input {
    cursor: pointer;
    color: var(--text-dark)!important;
}
.input-row-dropdown .input-row-input-inner {
    padding-right: 45px;
}
.input-row-dropdown.input-row-search-opened .input-row-arrow svg {
    transform: rotate(180deg);
}
.input-row input::-webkit-date-and-time-value{
    text-align:left;
}

textarea.input-row-input-inner {
    background-color: transparent;
    font-family: var(--font-family);
    color: var(--text-dark);
    padding: 8px 12px;
    height: 55px;
    min-height: 50px;
    max-height: 476px;
    border: none;
    outline: none;
    font-size: 14px;
    text-wrap: wrap;
    resize: none;
    color: var(--text-dark);
    /* background-color: var(--color-main); */
}
.input-row-input-inner-dropdown {
    color: var(--color-brand);
    padding: 8px 12px;
    width: 100%;
}
.input-row-search-opened .input-row-input-inner-dropdown {
    border-color: var(--color-primary-bg-hover);
}

.input-row-sign {
    /* background-color: var(--color-secondary); */
    color: var(--text-dark);
    padding: 2px 0 2px 10px;
    border-radius: 6px;
    margin: 4px 0px 4px 6px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}
.input-row-switch.input-row-switch-active {
    color: var(--text-dark);
}
.input-row-switch {
    cursor: pointer;
    color: var(--text-secondary);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

@media (max-width: 800px) {
    .input-row {
        flex-direction: column;
    }
    .input-row-focused input {
        /* background-color: var(--color-primary-bg-hover)!important; */
    }
    .input-row-label {
        flex-grow: 1;
        width: unset;
        min-width: 0;
        background-color: transparent;
        padding-top: 8px;
        padding-bottom: 8px;
        border-right: none;
    }
    .input-row-input-inner {
        min-width: 0;
        text-wrap: ellipsis;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .input-row-error .input-row-label {
        background-color: var(--color-marin);
        color: rgb(var(--color-general-danger-text));
    }
    .input-row-success .input-row-label {
        background-color: var(--color-marin);
        color: rgb(var(--color-general-success-text));
    }
    .input-row-warning .input-row-label {
        background-color: var(--color-marin);
        color: rgb(var(--color-general-warning-text));
    }
    .input-row .checkbox-wrapper,
    .input-row-label label {
        /* flex-grow: 1!important; */
    }
    .input-row-focused .input-row-label {
        /* background-color: transparent; */
    }
    .input-row-sign {
        margin-left: 4px;
    }
}