.menu {
    max-width: calc(-8px + 100vw);
    width: 300px;
    position: absolute;
    right: 0;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 999;
    transform: scale(0) translate3d(150px, 150px, 0);
    /* padding: 0.25rem 14px; */
    border: 1px solid var(--color-border-secondary);
    box-shadow: var(--box-shadow);
    visibility: hidden;
}

.menu.menu-open-up {
    transform: scale(0) translate3d(150px, -150px, 0);
    top: -80px;
}

.menu-btn {
    cursor: pointer;
}
.menu-btn:active {
    /* opacity: 1; */
}

.menu-open {
    animation: drop var(--transition-duration) forwards;
    visibility: visible;
}
.menu-hidden {
    animation: dropBack var(--transition-duration) forwards;
    visibility: hidden;
}

.menu-item {
    gap: 0.75rem;
    white-space: nowrap;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    user-select: none;
    font-size: 14px;
    border-radius: var(--border-radius-sm);
    /* border-bottom: 1px solid var(--color-border); */
    height: 40px;
    cursor: pointer;
    transition-duration: var(--transition-duration);
}
.menu-item:last-of-type {
    border-bottom: none;
}
.menu-item:hover {
    background-color: rgb(var(--color-general-secondary-bg));
}
.menu-item:active {
    background-color: rgba(var(--color-general-secondary-bg), .5);
}

.menu-item-icon {
    object-fit: cover;
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    fill: var(--text-dark);
}


@keyframes scale {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes scaleBack {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-width: 100vw;
        min-height: 100%;
        height: 100%;
        padding-bottom: env(safe-area-inset-bottom);
        top: -5px!important;
        left: 0!important;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
}