.modal-overlay {    
    position: fixed;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 555;
    background-color: var(--color-overlay);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    text-align: start;
}

.modal-overlay .modal-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: var(--transition-duration);
    padding: 60px var(--p-container);
}

.modal-overlay .modal-wrapper.modal-open {
    animation-name: modalOpenAnimation;
    animation-fill-mode: forwards;
}
.modal-overlay .modal-wrapper.modal-closed {
    animation-name: modalCloseAnimation;
    animation-fill-mode: forwards;
}

.modal-overlay .modal-small-window.modal-wrapper .modal-body {
    /* min-width: auto; */
    max-height: 80%;
}

.modal-overlay .modal-dialog-window.modal-wrapper .modal-body {
    min-width: var(--modal-min-width, 300px);
    max-width: var(--modal-max-width, 400px);
}

.modal-overlay .modal-wrapper .modal-body {
    min-width: var(--modal-min-width, 650px);
    max-width: var(--modal-max-width, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--border);
    border-color: var(--color-secondary);
    border-radius: var(--border-radius-lg);
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
    max-height: 100%;
}

.modal-body .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    font-weight: 500;
    border-bottom: 1px solid var(--color-secondary);
}

.modal-body .modal-header h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.modal-body .modal-header button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.modal-body.modal-overflow-none {
    overflow: unset!important;
}

.modal-body .btn {
    box-shadow: none;
}

.modal-content {
    padding: 1rem 1rem 1rem 1rem;
    /* margin-bottom: 20px; */
    position: relative;
    overflow-y: auto;
    border-radius: var(--border-radius-lg);
}

.modal-body .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    border-top: 1px solid var(--color-secondary);
}
.modal-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .modal-spinner svg {
    margin: 0!important;
}
.modal-spinner svg {
    animation: spin 1s linear infinite;
}

.modal-body .modal-content.modal-scroll {
    overflow-y: auto;
    margin: 0;
}

.modal-content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.modal-content::-webkit-scrollbar-track {
background-color: transparent;
}

.modal-error {
    color: rgb(var(--color-general-danger-text));
    fill: rgb(var(--color-general-danger-text));
    background-color: rgb(var(--color-general-danger-bg));
    padding: 0.5rem 1rem;
    animation-duration: var(--transition-duration);
    animation-name: opacity;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.modal-warning {
    color: rgb(var(--color-general-warning-text));
    fill: rgb(var(--color-general-warning-text));
    background-color: rgb(var(--color-general-warning-bg));
    padding: 0.5rem 1rem;
    animation-duration: var(--transition-duration);
    animation-name: opacity;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 800px) {
    .modal-overlay .modal-wrapper .modal-body {
        /* width: calc(100vw - 16px);
        min-width: calc(100vw - 16px);
        height: calc(100vh - 16px); */
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: calc(100%);
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
    .modal-overlay .modal-wrapper .modal-content {
        padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
        flex-grow: 1;
        height: 100%;
    }
    .modal-overlay .modal-small-window.modal-wrapper .modal-content {
        /* padding-bottom: 0; */
    }
    .modal-overlay .modal-small-window.modal-wrapper {
        width: 100%;
        align-items: flex-start;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .modal-overlay .modal-small-window.modal-wrapper.modal-small-window-center {
        align-items: center;
    }
    .modal-overlay .modal-small-window.modal-wrapper .modal-body {
        width: 100%;
        min-width: auto;
        max-width: calc(100vw - var(--p-container));
        height: auto;
        max-height: calc(100vh - var(--p-container) - env(safe-area-inset-bottom));
        border-radius: var(--border-radius-lg);
    }
    .modal-overlay .modal-wrapper {
        padding: 0;
    }
    .modal-content {
        flex-grow: 1;
    }
    .modal-overlay .modal-wrapper .modal-body {
        justify-content: flex-start;
    }
    .modal-footer .btn {
        width: 100%;
    }
    .modal-footer .btn:first-of-type {
        margin: 0;
    }
    .modal-overlay .modal-wrapper .modal-body {
        /* border-radius: 0; */
    }
    .modal-overlay .modal-wrapper .modal-body {
        min-width: 100vw;
        max-width: 100vw;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpenAnimation {
    0% {
        transform: translate(0px, 50px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0);
        opacity: 1;
    }
}
@keyframes modalCloseAnimation {
    0% {
        transform: translate(0px, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 50px);
        opacity: 0;
    }
}