.preview-pdf {
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    min-height: inherit;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 400;
    /* overflow: hidden; */
    user-select: none;
    color: var(--text-light);
    background-color: var(--color-tertiary);
    transition: var(--transition-duration);
}
.preview-pdf.preview-pdf-dynamic {
    width: 100%;
}

.preview-pdf .preview-pdf-contain {
    object-fit: contain;
}

.preview-pdf img {
    width: 100%;
    height: 100%;
    min-height: inherit;
    text-align: center;
    color: transparent;
    object-fit: cover;
    object-position: center;
    background-color: #fff;
}

.preview-pdf .preview-pdf-loading {
    opacity: 0;
}


.preview-pdf-big-display {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    transition-duration: var(--transition-duration);
    animation: fadeIn var(--transition-duration) ease-in-out forwards;
    position: fixed;
    overflow: hidden;
}

.preview-pdf-big-display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
}

.preview-pdf-big-display-container-inner {
    flex: 1;
    overflow-y: hidden;
    border-radius: var(--border-radius);
}

.preview-pdf-big-display-container-inner-pdf {
    flex: 1;
    height: 100%;
    max-height: calc(100vh - 69px - 24px - 44px);
    margin: 12px 0;
    overflow-y: auto;
    margin: 12px 0;
    overflow-x: hidden;
    border-radius: var(--border-radius);
}


.preview-pdf.preview-pdf-loading {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.preview-pdf.preview-pdf-loading img {
    opacity: 0;
}

.preview-pdf.img-error img {
    background-color: transparent;
}

.preview-pdf-big-display-controllers-top {
    padding: 12px 0;
    width: 100%;
    z-index: 99;
    color: #fff;
}
.preview-pdf-big-display-controllers-top .btn {
    color: #fff!important;
}
.preview-pdf-big-display-controllers-top:hover .btn:hover {
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.preview-pdf-big-display-controllers-top svg {
    fill: #fff!important;
    stroke: #fff!important;
}

.preview-pdf-big-display-controllers-bottom svg {
    fill: #fff!important;
    stroke: #fff!important;
}
.preview-pdf-big-display-controllers-bottom:hover .btn:hover {
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.preview-pdf-big-display-controllers-top:hover svg {
    fill: #fff!important;
    stroke: #fff!important;
}

.preview-pdf-big-display-controllers-bottom {
    position: absolute;
    bottom: calc(0px + env(safe-area-inset-bottom));
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 800px) {
    .preview-pdf-big-display-container-inner-pdf,
    .preview-pdf-big-display-container img {
        max-width: 100%;
    }
}