.preview-image {
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 400;
    /* overflow: hidden; */
    user-select: none;
    color: var(--text-light);
    background-color: var(--color-tertiary);
    transition: var(--transition-duration);
}

.preview-image.preview-image-full {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}
.preview-image.preview-image-dynamic {
    width: 100%;
    height: 100%;
}

.preview-image .preview-image-contain {
    object-fit: contain;
}

.preview-image img {
    width: 100%;
    height: 100%;
    min-height: inherit;
    text-align: center;
    color: transparent;
    object-fit: cover;
    object-position: center;
    background-color: #fff;
}

.preview-image .preview-image-loading {
    opacity: 0;
}


.preview-img-big-display {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    transition-duration: var(--transition-duration);
    animation: fadeIn var(--transition-duration) ease-in-out forwards;
    position: fixed;
}

.preview-img-big-display-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.preview-img-big-display-container img {
    max-width: 75%;
    height: auto;
    object-fit: contain;
    cursor: default;
    object-position: center;
}

.preview-img-big-display-container-inner {
    pointer-events: initial;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.preview-img-big-display-container-inner-img {
    pointer-events: inherit;
}


.preview-image.preview-image-loading {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.preview-image.preview-image-loading img {
    opacity: 0;
}

.preview-image.img-error img {
    background-color: transparent;
}

.preview-img-big-display-controllers-top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    width: 100%;
    z-index: 1;
    color: #fff;
}
.preview-img-big-display-controllers-top .btn {
    color: #fff !important;
}
.preview-img-big-display-controllers-top:hover .btn:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.preview-img-big-display-controllers-top svg {
    color: #fff!important;
    fill: #fff!important;
    cursor: pointer;
    stroke: #fff!important;
}

.preview-img-big-display-controllers-bottom .btn {
    color: #fff !important;
}
.preview-img-big-display-controllers-bottom:hover .btn:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.preview-img-big-display-controllers-bottom svg {
    color: #fff!important;
    fill: #fff!important;
    cursor: pointer;
    stroke: #fff!important;
}

@media (max-width: 800px) {
    .preview-img-big-display-container-inner-img,
    .preview-img-big-display-container img {
        max-width: 100%;
    }
}