.select-basic {
    background-color: var(--color-main);
    border-radius: var(--border-radius-sm);
    color: var(--text-dark);
    padding: 4px 2px;
    cursor: pointer;
    border: 1px solid var(--color-border);
    outline: none;
    font-size: 14px;

}
.select-basic:active {
    border-color: var(--color-secondary);
}
.select-basic:focus {
    background-color: var(--color-secondary);
}
.select-basic option {
    background-color: var(--color-main);
    color: var(--text-dark);
}
.select-basic option:hover {
    background-color: var(--color-secondary);
    color: var(--text-dark);
}