.tabs {
    position: relative;
    min-width: 0;
    overflow-x: scroll;
    background-color: var(--color-main);
    /* border: var(--border); */
    border-radius: var(--border-radius);
    /* height: 38px;/ */
    height: 32px;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.tabs-indicator {
    background-color: var(--color-secondary);
    /* height: 1px; */
    position: absolute;
    transition-duration: var(--transition-duration);
    height: 28px;
    height: calc(100%);
    border-radius: var(--border-radius);
    bottom: 0px;
    top: 0px;
    /* margin: 2px 0; */
}

.tab:not(:last-child) {
    /* margin-right: 4px; */
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    opacity: 0.75;
    transition-duration: var(--transition-duration);
    fill: var(--text-dark);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    gap: 10px;
}
.tabs.tabs-sm {
    height: 25px;
}
.tabs.tabs-sm .tab {
    font-size: 12px;
}
.tabs.tabs-md .tab {
    font-size: 14px;
}

.tab.active {
    opacity: 1;
}
.tab.active path {
    fill: var(--color-brand)!important;
}

.tab:hover {
    opacity: 1;
    /* background-color: var(--color-main); */
    border-radius: var(--border-radius);
}

.tab-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    /* margin-right: 10px; */
}

.tab.active .tab-icon {
    opacity: 1;
}

.tab-icon.no-label {
    margin-right: 0;
}

.tab-icon svg {
    width: 18px;
    height: 18px;
}

@media (max-width: 800px) {
    .tabs {
        /* border-right: 0;
        border-left: 0;
        border-radius: 0; */
    }
}